:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.shipments-management-container {
  padding: 20px;
}

.shipments-management-title {
  writing-mode: horizontal-tb; /* Ensure horizontal text direction */
  text-align: left;
  margin-bottom: 20px; /* Add margin below the title */
}

.customer-management-settings-container {
  padding: 20px;
}

.customer-management-settings-title {
  writing-mode: horizontal-tb; /* Ensure horizontal text direction */
  text-align: left;
  margin-bottom: 20px; /* Add margin below the title */
}

.vessel-settings-container {
  padding: 20px;
}

.vessel-settings-title {
  writing-mode: horizontal-tb; /* Ensure horizontal text direction */
  text-align: left;
  margin-bottom: 20px; /* Add margin below the title */
}

.card-status {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}

.status-planned {
  background-color: blue;
}

.status-commenced {
  background-color: orange;
}

.status-progress {
  background-color: green;
}

.status-ended {
  background-color: red;
}

.ant-carousel .slick-dots li button {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #fff; /* Customize the color as needed */
}

.ant-carousel .slick-dots li.slick-active button {
  background: #f6f7f8; /* Customize the color as needed */
}

.ant-carousel .slick-dots {
  padding-bottom: 8px; /* Adjust the padding as needed */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: center;

  align-items: center;
}

.login-image img {
  max-width: 70%; /* Adjust this value to make the image smaller */
  height: auto;
}

.login-form {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  padding-right: 4px; /* Add right padding */

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
